/*For shadow 
https://codepen.io/sdthornton/pen/wBZdXq
CSS
http://materializecss.com/
For correcting some html bug
https://necolas.github.io/normalize.css/
*/


/*-------------------Règles de base--------------*/
html {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-image: url("../../images/cigale-fourmi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*variable css*/
    --largeur-page: 80%;
    --largeur-col-gauche: 180px;
}

h1 {
    color: darkred;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0;
    padding: 0 1rem;
}
h2 {
    font-variant: small-caps;
    color: #413E3E;
    font-size: 1.5em;
    margin: 0
}

a {
    font-size: inherit;
    color: inherit;
}
main {
    display: block;
}

img, video, figure, audio {
    max-width: 100%;
}
.t-horizontal {
    overflow: auto;
    width: 100%;
}
input, textarea, select {
    font: inherit;
    padding: .25em .5em;
}
textarea {
    resize: vertical;
}
* {
    transition: all .5s;
}
/*-------------------Positionnement--------------*/
/*body, #entete, #entete nav, #col-left, main, #footer
{
    outline: 3px dashed darkred;
}*/
#entete {
    position: relative;
    min-height: 140px;
    overflow: hidden;
}
#entete nav {
    position: absolute;
    bottom: 0;
    right: 0;
}
.rotate {
    transform: rotate(-40deg);
    transform-origin: bottom left;
    width: 140px;
    font-size: 0.8em;
    padding: 0;
    background-color:#444444; 
    color: white;
    text-align: center;
    line-height: 2em;


}
body {
    width: 80%;
    width: var(--largeur-page);
    margin: 0 auto 60px;
    background-color: rgba(255, 255, 255, 0.5);
    /*background-color: #FFFFFFaa;*/
}
#col-left {
    width: 180px;
    width: var(--largeur-col-gauche);
    position: absolute;
}
/*Left Nav*/
#left-nav a {
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    border-bottom: 1px solid black;
    color: #FFFFFF;
    font-size: 0.9em;
    background-color: darkred;
    transition: all .3s;
}
#left-nav a:hover, #left-nav a:focus {
    background-color: white;
    color: darkred;
}
@media screen and (max-width:750px) {
    #left-aside {
        display: none;
    }
    #col-left {
    width: 100%;
    position: relative;
    background-color: darkred;
    text-align: center;
    }
    /*Left Nav*/
    #left-nav a {
        display: inline-block;
        text-decoration: none;
        padding: 0.5em 1em;
        border-bottom: none;
        font-size: 0.7em;
    }

}
/*end left nav*/
/*-------------------Entete body-------------------------*/
#entete {
    background-repeat: no-repeat;
    background-position: right 24px top 24px, 0 0;
    background-image: url("../../images/eni-bv-64.png"), linear-gradient(180deg, #eee, #ccc);
}
/*header nav*/
#entete #top-nav {
    background-color: #e6e6e6;
    border-radius: 10px 10px 0px 0px;
    margin-right: 0.7em;
}
#entete #top-nav a {
    display: inline-block;
    color: darkred;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 0.8em;
    border-left: 1px solid currentColor;
    transition: all .3s;
}
#entete #top-nav a:active {
    background-color: #9D9C9C;
    color: white;

}

#entete #top-nav a:first-child {
    border-top-left-radius: 10px;
    border-left:unset;
}
#entete #top-nav a:last-child {
    border-top-right-radius: 10px;
}
/*end header nav*/
main {
    margin-left : 200px;
    margin-left: calc(var(--largeur-col-gauche) + 1em);
}

footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    width: var(--largeur-page);
    background-color: #686868
}

body > header h1 {
    color: darkred;
    font-size: 2em;
    text-transform: uppercase;
    padding: 1rem 1rem .5rem;
    margin-left: 2.5em
}
body > header h2 {
    padding: 0 2rem;
}
@media screen and (max-width:840px) {
    body {
        width: 100%;
    }
    footer {
        position: relative;
        width: 100%;
    }
}
@media screen and (max-width:750px) { 
    main {
        margin-left : 0;
    }

}

/*Test*/
a[href$=".pdf"]{
	background-image: url("../../images/pdf.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center left;
	padding-left: 1.75em;
}
a[href$=".docx"]::before
{
	content:  url("../../images/word.svg");
	display: inline-block;
    height: 30px;
    
}
/*Mise en forme tableau*/
.mon-tableau {
    border: none;
    border-collapse: collapse;
    font-size: 0.8em;
    border: 1px solid transparent;
}
.mon-tableau td, .mon-tableau th {
    padding: 0.8em 1.2em;
}
.mon-tableau thead {
    border: none;
    background-image: linear-gradient(180deg, #00c9fc, #008eb2);
    color: #FFFFFF;
    border: 1px solid #008eb2;
}

.mon-tableau tbody td {
    border: 1.1px #474747;
    border-style: none solid;
}

#table-pop.mon-tableau tbody td:first-child {
    text-align: center;
}
.mon-tableau tbody td:last-child {
    /*border-right: 1px solid #474747;*/
    text-align: right;
    background-color: rgba(239, 224, 4, 0.6)
}
.mon-tableau > tbody tr:nth-child(odd) {
    background-color:#FFFFFF; 
} 
.mon-tableau > tbody tr:nth-child(even) {
    background-color:#adadad; 
} 
.mon-tableau tbody tr.selected {
    background-color: #FF6666;
    color: #FFFFFF;
}
.mon-tableau tbody tr.selected:hover {
    background-color: darkred;
    color: #FFFFFF;
}
.mon-tableau tbody tr:hover {
    background-color:#adadfd;
}


/*-------------------Formulaire-------------*/
.centered-form {
    width: 500px;
    width: calc(24.25em + 1px);
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 16px #000;
    padding: 16px;
}
.centered-form div > label {
    display: inline-block;
    width: 8em;
    margin-bottom: 4px;
    vertical-align: top;
    padding-top: .25em;
}
.centered-form div > label + *:not([type="checkbox"]) {
    display: inline-block;
    width:16em;
    box-sizing: border-box;
    margin-bottom: 4px;
    vertical-align: top;
}
.centered-form div > label + [type="checkbox"] {
    margin: 0;
    transform-origin: top left;
    transform: scale(2);

}
.centered-form div fieldset, .centered-form div.valid {
    text-align: center;
}
.centered-form input:invalid {
    border-left: 6px solid red;
}
.centered-form input:valid {
    border-left: 6px solid green;
}
.centered-form input:focus {
    border-left: 6px solid #aaa;
}
.centered-form:invalid [type="submit"]{
    display: none
}
.centered-form .erreur {
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    padding: .5em 1em;
    background-color: darkred;
    font-size: 0.7em;
}
.centered-form :valid + .erreur {
    opacity: 0;
    height: 0;
    padding: 0;
    margin:0;
}
@media screen and (max-width:520px) {
    .centered-form {
        text-align: center;
        width: 100%;
        max-width: 100%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 16px #000;
        padding: 0;
    }
    .centered-form div > label {

        width: 100%;
        max-width: 100%;
    }
    .centered-form div > label + *:not([type="checkbox"]) {

        max-width: 100%;
    }
    .centered-form .erreur {
        position: relative;
        display: block;
        color: #FFFFFF;
        max-width: 200px;
        margin: auto;

    }
}
/*-------------------Class Fable--------------*/
blockquote.content_fable {
    background-color: darkred;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 1em;
    letter-spacing: .1em;
    line-height: 2em;
    text-align: justify;
}



/*----------------------Video Control-----------------*/

.video-controls button {
    border-radius: 50%;
    margin: 0.3em;
    width: 3em;
    height: 3em;
    padding: 0;
    border: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: darkred;
}
.video-controls button:active {
    box-shadow: none;
    color: #FFFFFF;
}

/*Media query*/

@media screen and (max-width:840px) {
    body {
        width: 100%;
    }
    footer {
        position: relative;
        width: 100%;
    }
}